.footer {
    background-color: #212529;
    height: 10%;
}

/* @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */